# Typical Competitive Problem 90

## TL;DR

- my solutions of [ Typical Competitive Problem 90](https://atcoder.jp/contests/typical90) (only Japanese)
- confirm to solve the problem by [kazu0716](https://atcoder.jp/users/kazu_0716)
 
## Problems

- solve them to keep brushing up my programing skills

### Difficulties

- difficulty of problem compared with [ABC contents](https://atcoder.jp/contests/archive?ratedType=1&category=0&keyword=)

|start|AtCoder Problems Difficulty|convert ABC level(about)|
|:----|:----|:----|
|★|under 149|A/B|
|★★|150 ～ 399|C|
|★★★|400 ～ 799|C/D|
|★★★★|800 ～ 1199|D|
|★★★★★|1200 ～ 1599|E|
|★★★★★★|1600 ～ 1999|F|
|★★★★★★★|2000 over|G/H|

### My solutions

| No. | Problem | My Solution |
|:----|:----|:----|
{% for item in items %}
| {{ item[0] }} | [{{ item[1] }}]({{ item[2] }}) | [solution]({{ item[3] }}) |
{% endfor %}

