# Typical Competitive Problem 90

## TL;DR

- my solutions of [ Typical Competitive Problem 90](https://atcoder.jp/contests/typical90)
- confirm to solve the problem by [kazu0716](https://atcoder.jp/users/kazu_0716)
 
## Problems

- solve them to keep brushing up my programing skills

### Difficulties

- difficulty of problem compared with [ABC contents](https://atcoder.jp/contests/archive?ratedType=1&category=0&keyword=)
  - [Atcoder](https://atcoder.jp/home) is one of the popular competitive programing contests
  - [Colors in Atcoder](https://chokudai.hatenablog.com/entry/2019/02/11/155904)

|start|AtCoder Problems Difficulty|convert ABC level(about)|
|:----|:----|:----|
|★|under 149|A/B|
|★★|150 ～ 399|C|
|★★★|400 ～ 799|C/D|
|★★★★|800 ～ 1199|D|
|★★★★★|1200 ～ 1599|E|
|★★★★★★|1600 ～ 1999|F|
|★★★★★★★|2000 over|G/H|

### My solutions

- continue to solve the problems for now
- work on `pypy3.6-7.3.0` to use standard libraries
    - perpahs, some of solutions fails on pypy, because it's recursive function is so slow compared with python3

| No. | Problem | My Solution |
|:----|:----|:----|
{% for item in items -%}
| {{ item[0] }} | [{{ item[1] }}]({{ item[2] }}) | [solution]({{ item[3] }}) |
{% endfor %}

